<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.csci448.slittle.harmonize">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/harmonize_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/harmonize_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PlatformConnectActivity"/>
        <activity android:name=".PassResetActivity"/>
        <activity android:name=".AccCreateActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".GeneratePlaylistActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".TuneParametersActivity"/>
        <activity android:name=".ExportActivity"/>
        <activity android:name=".ViewPlaylistActivity"/>
    </application>

</manifest>