<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.csci448.slittle.harmonize">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/harmonize_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/harmonize_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PlatformConnectActivity"
                  android:parentActivityName=".HomeActivity"/>
        <activity android:name=".PassResetActivity"
                  android:parentActivityName=".LoginActivity"/>
        <activity android:name=".AccCreateActivity"
                  android:parentActivityName=".LaunchActivity"/>
        <activity android:name=".LoginActivity"
                  android:parentActivityName=".LaunchActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".TuneParametersActivity"
                  android:parentActivityName=".HomeActivity"/>
        <activity android:name=".ViewPlaylistActivity"
                  android:parentActivityName=".HomeActivity"/>

        <activity android:name=".GeneratePlaylistActivity"/>

        <activity android:name=".ExportActivity"
                  android:parentActivityName=".ViewPlaylistActivity"/>

        <activity android:name=".CharActivity"/>
    </application>

</manifest>